streamlit
fastapi
uvicorn
pydantic
psycopg[binary]
pdfplumber
pytesseract
pillow
rapidfuzz
spacy
sentence-transformers
numpy
faiss-cpu
pandas
scikit-learn
torchmetrics
torchvision
xgboost
rank_bm25
seqeval
mlflow
datasets
transformers
